*.pyc
*.so
*.o
.idea/
.eggs/*
*.egg-info/*
*/*.egg-info/*
build/*
*/build/*
datasets/*
dependencies/*
!dependencies/examples
work_dirs/
!work_dirs/modelartifacts/readme.txt
backup/*
tutorials/.ipynb_checkpoints/
/tools/tidl_tools_package/
/tools/gcc-*

/tools-*/
/tools_*/
/tidl_tools_backup/
backup/
temp_files/
evm_wheels/

*.npy
*.jpg
#*.csv
*.ods
*.zip
*.tar.gz
