*.pyc
*.so
*.o
.idea/*
.eggs/*
*.egg-info/*
*/*.egg-info/*
build/*
*/build/*
datasets/*
dependencies/*
!dependencies/examples
work_dirs/
!work_dirs/modelartifacts
backup/*
tutorials/.ipynb_checkpoints/
tidl_tools
tidl_tools/
tidl_tools_*/

.vscode/
*.npy
*.jpg
*.csv
*.ods
*.zip
*.tar.gz

