# TODO: Update with exact module version
numpy==1.23.0
#torch>=1.7
opencv-python
loguru
scikit-image
tqdm
#torchvision
#Pillow
thop
ninja
tabulate
tensorboard
#mmcv==1.6.0
seaborn==0.11.2

# verified versions
#onnx==1.8.1
#https://github.com/TexasInstruments/onnx/archive/tidl-j7.zip

#onnxruntime #==1.8.0
onnx-simplifier==0.4.10

# Extra packages required for 6d pose estimation
plyfile==0.7.4
scikit-learn
PyYAML
matplotlib
scikit-learn
