cython
numpy==1.23.0
wheel
opencv-python-headless
protobuf==3.19.4
pybind11[global]         # for building the below onnx custom fork
#onnx==1.9.0             # onnx==1.9.0 doesn't work with python 3.10 - using the custom fork below
https://github.com/TexasInstruments/onnx/archive/tidl-j7.zip
tflite
#pillow
pillow-simd
pycocotools
xtcocotools
colorama
tqdm
pyyaml
#mxnet
pytest
json_tricks
munkres
flatbuffers==1.12.0
requests
pytest
graphviz
h5py
scipy
wurlitzer
git+https://github.com/TexasInstruments/edgeai-tidl-tools.git#subdirectory=scripts
plyfile
scikit-learn
