numpy>=1.20  
onnx
#tflite
pillow
opencv-python-headless
pycocotools
colorama
tqdm
pyyaml
#mxnet
pytest
json_tricks
git+https://github.com/jin-s13/xtcocoapi.git
munkres
#git+https://github.com/yogin16/prototxt_parser.git
