-r requirements/evm_basic.txt
#onnx==1.8.1
#tflite
pillow
pycocotools
colorama
tqdm
pyyaml
#mxnet
pytest
json_tricks
munkres
#git+https://github.com/yogin16/prototxt_parser.git
h5py
scipy
pillow
plyfile
scikit-learn
