-r requirements.txt
onnxsim==0.4.35
numpy==1.23.0
onnx_graphsurgeon --extra-index-url https://pypi.ngc.nvidia.com
#git+https://github.com/NVIDIA/TensorRT@release/8.5#subdirectory=tools/onnx-graphsurgeon
#git+https://github.com/TexasInstruments/edgeai-tidl-tools.git@10_00_08_00#subdirectory=scripts
git+ssh://git@bitbucket.itg.ti.com/processor-sdk-vision/edgeai-tidl-tools.git@master#subdirectory=scripts
tflite
flatbuffers==1.12.0
requests
pytest
graphviz
h5py
#protobuf
#onnx==1.14.0
graphviz
colored
opencv-python-headless
