cython
numpy==1.23.0
wheel
opencv-python-headless
tflite
pycocotools
colorama
tqdm
pyyaml
#mxnet
pytest
json_tricks
munkres
flatbuffers==1.12.0
requests
pytest
graphviz
h5py
scipy
wurlitzer
git+https://github.com/TexasInstruments/edgeai-tidl-tools.git@09_00_00_06#subdirectory=scripts
plyfile
scikit-learn
