cython
numpy==1.23.1
wheel
opencv-python-headless<4.3
onnx
protobuf
#protobuf==3.19
#onnx==1.8.1
#tflite
pillow
pycocotools
colorama
tqdm
pyyaml
#mxnet
pytest
json_tricks
munkres
#git+https://github.com/yogin16/prototxt_parser.git
h5py
scipy
pillow
plyfile
scikit-learn
git+https://github.com/TexasInstruments/edgeai-tidl-tools.git#subdirectory=scripts
