cython
numpy
wheel
opencv-python==4.2.0.34
scipy
matplotlib
#pillow
# 7.2.0.post1 is what works in Python3.6 - newer Python versions may be able to use a more recent one
pillow-simd==7.2.0.post1
colorama
#opencv-python
pycocotools
pyyaml
tensorboard==2.4
ninja
torchinfo
# additional requirements added for new features in references
onnx==1.8.1
progiter
packaging
#onnxruntime
-r requirements/references.txt
