numpy>=1.20.0;  python_version >= '3.7'
#onnx
##tflite
#pillow
#opencv-python
#pycocotools
#colorama
#tqdm
#pyyaml
#mxnet
#pytest
##json_tricks
##xtcocotools
##munkres
##git+https://github.com/yogin16/prototxt_parser.git
git+https://github.com/jin-s13/xtcocoapi.git
