*.pyc
*.so
*.o

.idea/*
.eggs/*
*.egg-info/*
*/*.egg-info/*

dependencies
downloads

docs/doctrees
docs/html

#*.pth
#*.pt
#*.tflite
#*.pb
#*.onnx
#*.json
#*.params
#*.prototxt
#*.caffemodel

*.tar.gz


