absl-py==2.1.0
addict==2.4.0
aenum==3.1.15
aliyun-python-sdk-core==2.15.2
aliyun-python-sdk-kms==2.16.5
attrs==24.2.0
autocommand==2.2.2
backports.tarfile==1.2.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
colored==2.2.4
coloredlogs==15.0.1
contourpy==1.3.0
crcmod==1.7
cryptography==43.0.1
cycler==0.12.1
Cython==3.0.11
debugpy==1.8.6
decorator==5.1.1
dill==0.3.8
distro==1.9.0
dlr==1.13.0
#edgeai_benchmark==10.0.0+d6f8308
#edgeai_modelmaker==10.0.0+d6f8308
#edgeai-torchmodelopt==10.0.0
#edgeai_xvision==9.0.0
exceptiongroup==1.2.2
filelock==3.14.0
flatbuffers==1.12
fonttools==4.54.1
fsspec==2024.2.0
google-auth==2.35.0
google-auth-oauthlib==0.4.6
graphviz==0.20.3
grpcio==1.66.1
h5py==3.12.1
humanfriendly==10.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.0
inflect==7.3.1
iniconfig==2.0.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2==3.1.3
jmespath==0.10.0
joblib==1.4.2
json-tricks==3.17.3
kiwisolver==1.4.7
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mmcv==2.2.0
mmdeploy==1.3.1
mmdet==3.3.0
mmengine==0.10.5
model-index==0.1.11
more-itertools==10.3.0
mpmath==1.3.0
multiprocess==0.70.16
munkres==1.1.4
networkx==3.2.1
ninja==1.11.1.1
numpy==1.23.0
oauthlib==3.2.2
onnx==1.13.0
onnx_graphsurgeon==0.3.26
onnxruntime-tidl==1.14.0+10000005
onnxsim==0.4.35
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
#opendatalab==0.0.10
#openmim==0.3.9
#openxlab==0.1.1
ordered-set==4.1.0
osrt_model_tools==1.2
oss2==2.17.0
packaging==24.1
pandas==2.2.3
pillow==10.4.0
Pillow-SIMD==9.5.0.post2
pip==24.2
platformdirs==4.3.6
pluggy==1.5.0
plyfile==1.1
prettytable==3.11.0
progiter==2.0.0
progressbar==2.5
protobuf==3.20.2
psutil==6.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycocotools==2.0.8
pycparser==2.22
pycryptodome==3.20.0
pydot==3.0.2
Pygments==2.18.0
pyparsing==3.1.4
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2023.4
PyYAML==6.0.2
requests==2.28.2
requests-oauthlib==2.0.0
rich==13.4.2
rsa==4.9
scikit-learn==1.5.2
scipy==1.13.1
setuptools==73.0.0
shapely==2.0.6
six==1.16.0
sympy==1.12
tabulate==0.9.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.4.0
terminaltables==3.1.10
tflite==2.10.0
tflite-runtime==2.12.0
threadpoolctl==3.5.0
tomli==2.0.1
torch==2.4.0+cpu
torchinfo==1.8.0
torchvision==0.19.0+cpu
tornado==6.4.1
tqdm==4.65.2
tvm==0.12.0
typeguard==4.3.0
typing_extensions>=4.9.0
tzdata==2024.2
urllib3==1.26.20
wcwidth==0.2.13
Werkzeug==3.0.4
wheel==0.44.0
wurlitzer==3.1.1
yapf==0.40.2
zipp==3.20.2
