-r requirements.txt
onnx==1.14.0
protobuf==3.20.3
https://software-dl.ti.com/jacinto7/esd/tidl-tools/11_02_02_00/OSRT_TOOLS/X86_64_LINUX/UBUNTU_22_04/onnxruntime_tidl-1.15.0-cp310-cp310-linux_x86_64.whl
https://software-dl.ti.com/jacinto7/esd/tidl-tools/11_02_02_00/OSRT_TOOLS/X86_64_LINUX/UBUNTU_22_04/tflite_runtime-2.12.0-cp310-cp310-linux_x86_64.whl
https://software-dl.ti.com/jacinto7/esd/tidl-tools/11_02_02_00/OSRT_TOOLS/X86_64_LINUX/UBUNTU_22_04/tvm-0.18.0-cp310-cp310-linux_x86_64.whl
"osrt_model_tools@git+ssh://git@bitbucket.itg.ti.com/processor-sdk-vision/edgeai-tidl-tools.git@master#subdirectory=osrt-model-tools", ##"osrt_model_tools@git+https://github.com/TexasInstruments/edgeai-tidl-tools.git@11_01_06_00#subdirectory=osrt-model-tools",